@font-face {
    font-family: "jetMono";
    src: url("./assets/fonts/Je-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: "Cairo", sans-serif;
}