.compare{
    width: var(100%;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 20px;
}
.header-sec{
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 300;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header-sec > p{
    padding: 0;
    margin: 0;
}
.header-sec > p.h .num{
    color:#ffffff ;
}
.pairs{
    height: 330px;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1d1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #282829;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f8080;
}