.parent{
    height: 41px;
    background-color: #202022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.parent .info{
    width: 90%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.parent .info p{
    margin:3px;
}  
.parent .info .name .code,
.parent .info .result .value{
    color:#ffffff ;
    text-transform: uppercase;
}
.parent .info .name .fullname,
.parent .info .result .rate{
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.fav{
    color: #cef739;
    border:1.5px solid #cef739;
    padding:4px;
    border-radius: 7px;
}