.history{
    width: 100%;
}
.history .header-bar{
    display: flex;
}
.history .header-bar .change-sec{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.history .header-bar .change-sec .node{
    text-transform: uppercase;
    font-size: 13px;
    background-color: #171719;
    padding: 20px;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    
}
.history .header-bar .change-sec .node p{
    padding: 0;
    margin: 0;
}