.history{
    width: 100%;
}
.history .header-bar{
    display: flex;
}
.history .header-bar .change-sec{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.history .header-bar .change-sec .node{
    text-transform: uppercase;
    background-color: #171719;
    padding: 10px;
    border-radius: 20px;
    height:60px;
    width:55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.history .header-bar .change-sec .node p{
    padding: 0;
    margin: 0;
    font-size: 12px;
}