.loged{
    height: 450px;
    background-color: #202022;
    padding: 20px;
    border-radius: 20px;
}
.loged-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    
}
.loged-header p{
    padding: 0;
    margin: 0;
}
.info{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.info .clear-btn{
    font-size: 10px;
    border-radius: 5px;
    color: #9d9d9d;
    background-color: #2e2e2e;
    padding: 1px;
    margin-left: 10px;
}
.loged-header .title{
    color: #c6c6c6;
}
.loged-content{
    margin-top: ;
}