.info-loged{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.info p{
    font-size:16px ;
    text-transform: ;
}
.loged-result{
    width: 100px;
    display: flex;
    justify-content: space-between;
}