.loged-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.info .clear-btn{
    font-size: 10px;
    border-radius: 5px;
    color: #3d3d3d;
    background-color: #2e2e2e;
    padding: 1px;
    marginle
}