.main-sec{
    width: 100%;
    margin: 32px 0;
    height: 500px;
}
.main-sec nav{
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px dashed #454547;
}
.main-sec nav ul{
    list-style: none;
    width:45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.main-sec nav ul li{
    text-transform: uppercase;
}
.main-sec .info-container{
    width: 100%;
    hhe
    background-color: #171719;
}