.parent{
    height: 61px;
    background-color: #202022;
    display: flex;
    /* justify-content: space-between; */
}
.parent img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.parent .info{
    background-color: azure;
    width: var(100% - 50px);
}   