
.rate h3{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}

.rate-sec{
    background-color: #3d3d3d;
    border-radius: 16px;
    padding: 20px;
}
.rate-sec .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate-sec .info .send-sec p{
    
}